body{
    background-image: url('bg.jpg');
    color:white;
    font-size:20px;
}
h1{
    text-align:center;
    color:#DAA520;
    font-size:55px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif 
}
h3{
    text-align:center;
    color:#DAA520;
    font-size:45px;
    padding: 24px 16px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif 
}
dt{
    text-align:center;
    color:#DAA520;
    font-size:22px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif
}
dd{
    text-align:center;
    color:white;
    font-size:22px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif
}
.pic{
    padding: 24px 86px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a{
    float: left;
}

.b {
    display: block;
    color: white;
    text-align: center;
    padding-left:1045px;
   
    text-decoration: none;
    image-align:right-side;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    image-align:right-side;
}

li a:hover {
    background-color: #111;
}
li a:active{
    background-color: red;
}
ol {
    color:white;
    font-size:20px;
}
