body{
    background-image: url('bg.jpg');
    color:white;
    font-size:20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.b {
    display: block;
    color: white;
    text-align: center;
    padding-left:645px;
   
    text-decoration: none;
    image-align:right-side;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    image-align:right-side;
}

li a:hover {
    background-color: #111;
}
li a:active{
    background-color: red;
}

h1{
    text-align:center;
    padding-top:3cm;
    color:#F5F5F5;
    font-size:95px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif 
}
h3{
    text-align:center;
    padding-top:0.5cm;
    color:white;
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif; 
}
